/*reset*/
html,
body {
  margin: 0;
  padding: 0;
}

/*basic styling*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*canvas styling*/
#gameCanvas {
  border: 1px solid black;
}

/*mobile controls*/
#mobileControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

#mobileControls > * {
  padding: 25px;
}
